---
---
@import "typography";
@import "color";

body {
  font-family: $text-font;
  background-color: $color-box;
  color: $color-text;
  margin: 0;
  padding: 0;
  header, article {
    width: 60em;
    margin-left: auto;
    margin-right: auto;
  }
}
body.feed {
  header {
    display: flex;
    align-items: center;
    text-align: center;
    min-height: 30em;
    justify-content: center;
    h1 {
      font-size: 3em;
      font-weight: normal;
    }
    h2 {
      font-weight: normal;
    }
  }
}

nav.main {
  position: fixed;
  display: block;
  top: 0;
  width: 100vw;
  background-color: $color-prime;
  z-index: 1;
  ul {
    min-height: 72px;
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    li {
      padding: 0;
      margin: 0;
      padding-left: 36px;
      padding-right: 36px;
      text-transform: uppercase;
      font-size: 0.8em;
      a {
        text-decoration: none;
      }
      a:hover {
        color: $color-text;
      }
    }
    li.home {
      flex-grow: 1;
      font-weight: bold;
      text-transform: none;
      font-size: 0.9em;
    }
  }
}

h1, h2, h3 {
  font-family: $display-font;
}

a {
  color: $color-text;
  cursor: pointer;
}
a:hover {
  color: $color-prime;
}

main {
  display: flex;
  flex-direction: row;
  margin-top: 72px;
  nav {
    background-color: $color-meta;
    margin: 36px;
    padding: 18px;
    box-sizing: border-box;
    h2 {
      font-size: 1em;
      margin: 0;
      padding: 0;
    }
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      margin-left: 1em;
      li {
        font-size: .8em;
        a {
          text-decoration: none;
        }
        a:hover {
          color: $color-text;
          text-decoration: underline;
        }
      }
    }
  }
  article {
  }
}
