---
---
@import "typography";
@import "color";

$mobile: "(max-width: 1024px)";

body {
  font-family: $text-font;
  background-color: $color-box;
  color: $color-text;
  margin: 0;
  padding: 0;
}
body.feed {
  header {
    margin-top: 72px;
    display: flex;
    align-items: center;
    text-align: center;
    min-height: 30em;
    justify-content: center;
    {% if site.cover %}
    position: relative;
    background-color: rgba(lighten($color-prime, 20%), 0.5);
    margin-bottom: 36px;
    &:before {
      content: ' ';
      position: absolute;
      background-color: $color-prime;
      background-image: url('{{ site.cover }}');
      background-size: cover;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      z-index: -1;
    }
    {% endif %}
    h1 {
      font-size: 3em;
      font-weight: normal;
      max-width: 80vw;
    }
    h2 {
      font-weight: normal;
      max-width: 80vw;
    }
  }
  article {
    max-width: 50em;
    margin-left: auto;
    margin-right: auto;
    @media #{$mobile} {
      width: 90vw;
    }
  }
}

body.page {
  header {
    margin-top: 72px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    min-height: 30em;
    position: relative;
    margin-bottom: 36px;
    background-color: rgba(lighten($color-prime, 20%), 0.5);
    img {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      z-index: -1;
      background-color: $color-prime;
      object-fit: cover;
    }
    h1 {
      max-width: 80vw;
    }
    h2 {
      max-width: 80vw;
    }
  }
  main {
    display: flex;
    flex-direction: row;
    margin-top: 72px;
    @media #{$mobile} {
      flex-direction: column;
    }
    nav {
      margin: 36px;
      box-sizing: border-box;
      ul {
        width: 10em;
        background-color: $color-meta;
        list-style: none;
        padding: 18px;
        margin: 0;
        li {
          font-size: .8em;
          margin-bottom: 1em;
          a {
            text-decoration: none;
            &.current, &:hover {
              color: $color-text;
              font-weight: bold;
            }
          }
        }
      }
    }
    article {
      margin-left: 36px;
      margin-right: 36px;
      pre {
        max-width: 90%;
        overflow-x: scroll;
      }
      img {
        display: block;
        max-width: 60%;
        object-fit: cover;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
  header+main {
    margin-top: 0px;
  }
}

nav.main {
  position: fixed;
  display: block;
  top: 0;
  width: 100vw;
  background-color: $color-prime;
  z-index: 1;
  ul {
    min-height: 72px;
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    li {
      padding: 0;
      margin: 0;
      padding-left: 36px;
      padding-right: 36px;
      text-transform: uppercase;
      font-size: 0.8em;
      a {
        text-decoration: none;
        &.current, &:hover {
          color: $color-text;
          font-weight: bold;
        }
      }
    }
    li.home {
      flex-grow: 1;
      font-weight: bold;
      text-transform: none;
      font-size: 0.9em;
    }
  }
}

h1, h2, h3 {
  font-family: $display-font;
}

a {
  color: $color-text;
  cursor: pointer;
  &:hover {
    color: $color-prime;
  }
}

